@import "tailwindcss";

@theme {
  --color-primary: #121212;
  --color-white: #ffffff;
  --color-light-gray: #d3d3d3;
}

@utility flex-between {
  @apply flex items-center justify-between;
}

@utility flex-center {
  @apply flex items-center justify-center;
}

@utility text-gradient {
  @apply bg-gradient-to-r from-indigo-600 via-blue-600 to-purple-600 bg-clip-text text-transparent;
}

@utility background-gradient {
  @apply bg-gradient-to-r from-indigo-600 via-blue-600 to-purple-600;
}
