@import "tailwindcss";

@theme {
  --color-primary: #121212;
  --color-white: #ffffff;
  --color-light-gray: #f7f7f7;
}

@utility flex-between {
  @apply flex items-center justify-between;
}

@utility flex-center {
  @apply flex items-center justify-center;
}
